@import "./variables.scss";

.header {
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: $boxShadow;
  background-color: var(--element);
  h3 {
    margin-left: 2rem;
  }
  .theme-switcher {
    display: flex;
    cursor: pointer;
    gap: 0.3rem;
    margin-right: 3.5rem;
    p {
      letter-spacing: 0.02rem;
      font-size: 0.875rem;
      font-weight: 600;
    }
    i {
      font-size: 1.25rem;
    }
  }
}
