.home {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  .loader {
    display: grid;
    place-content: center;
    min-height: 20rem;
  }
  .error {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    min-height: 20rem;
    h1 {
      font-size: 1.5rem;
      text-align: center;
      text-transform: capitalize;
    }
    img {
      max-width: 20rem;
      width: 100%;
    }
  }
  .home__cards__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 4rem;
    @media screen and (max-width: 1000px) {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
    @media screen and (max-width: 800px) {
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
  }
}
