@import "./variables.scss";
.search__container {
  display: flex;
  justify-content: space-between;
}

.search {
  display: flex;
  background-color: $White;
  padding: 0.44rem 1.44rem;
  width: 17rem;
  gap: 0.3rem;
  color: $LightModeInputColor;
  // box-shadow: 0px 0.063rem 0.19rem 0.063rem rgba(0, 0, 0, 0.16);
  box-shadow: $boxShadow;
  border-radius: 0.2rem;

  align-items: center;
  & > input {
    height: 80%;
    width: 100%;
    border: none;
    outline: none;
    padding: 0.32rem;
    font-family: "Nunito Sans", sans-serif;
    &:focus {
      border: none;
      outline: none;
    }
  }
}
select.mySelect {
  background: $White;
  padding: 0.63rem;
  font-family: "Nunito Sans", sans-serif;
  color: $LightModeInputColor;
  font-weight: 600;
  outline: none;
  border: none;

  box-shadow: $boxShadow;

  border-radius: 0.2rem;
}
select.mySelect option {
  color: $LightModeInputColor;
  padding: 0 0.63rem;
  font-weight: 600;
}
