@import "./variables.scss";
.search__container {
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: 650px) {
    flex-direction: column;
    gap: 2rem;
  }
}

.search {
  display: flex;
  background-color: var(--element);
  padding: 0.8rem 1.44rem;
  max-width: 17rem;
  width: 100%;
  gap: 0.7rem;
  color: var(--inputText);
  box-shadow: $boxShadow;
  border-radius: 0.2rem;

  align-items: center;
  & > input {
    height: 80%;
    width: 100%;
    border: none;
    outline: none;
    padding: 0.32rem;
    font-family: "Nunito Sans", sans-serif;
    font-size: 0.8rem;
    background-color: var(--element);
    color: var(--inputText);
    &:focus {
      border: none;
      outline: none;
    }
    &::placeholder {
      color: var(--inputText);
      opacity: 1;
    }
  }
}

select.mySelect {
  background: var(--element);
  padding: 0.8rem;
  font-family: "Nunito Sans", sans-serif;
  color: var(--textColor);
  font-weight: 600;
  outline: none;
  border: none;
  font-size: 0.8rem;
  box-shadow: $boxShadow;

  border-radius: 0.2rem;
}
select.mySelect option {
  color: var(--textColor);
  padding: 0 0.63rem;
  font-weight: 600;
}
