// colors
$DarkModeElements: hsl(209, 23%, 22%);
$DarkModeBackground: hsl(207, 26%, 17%);
$DarkModeBackgroundTextColor: hsl(200, 15%, 8%);
$LightModeInputColor: hsl(0, 0%, 52%);
$LightModeBackgroundLight: hsl(0, 0%, 98%);
$DarkModeTextAndLightModeElements: hsl(0, 0%, 100%);

// widths
$Mobile: 375px;
$Desktop: 1440px;

// Body copy
$HomePageItems: 14px;
$DetailPage: 16px;
