// colors
$DarkModeElements: hsl(209, 23%, 22%);
$DarkModeBackground: hsl(207, 26%, 17%);
$LightModeTextColor: hsl(200, 15%, 8%);
$LightModeInputColor: hsl(0, 0%, 52%);
$LightModeBackgroundLight: hsl(0, 0%, 98%);
$White: hsl(0, 0%, 100%);
$boxShadow: 0px 0px 0.44rem -0.0625rem rgba(0, 0, 0, 0.43);
// widths
$Mobile: 500px;
$Desktop: 1440px;

// Body copy
$HomePageItems: 14px;
$DetailPage: 16px;
.dark {
  --backgroundColor: hsl(207, 26%, 17%);
  --textColor: hsl(0, 0%, 100%);
  --element: hsl(209, 23%, 22%);
  --inputText: hsl(0, 0%, 100%);
  --spanColor: hsl(0, 6%, 87%);
}
.light {
  --backgroundColor: hsl(0, 0%, 98%);
  --textColor: hsl(200, 15%, 8%);
  --element: hsl(0, 0%, 100%);
  --inputText: hsl(0, 0%, 52%);
  --spanColor: hsl(0, 0%, 19%);
}

// background-color: element;
// color: textColor;
