@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");
@import "./styles/variables.scss";
* {
  margin: 0;
  padding: 0;
}
html,
body {
  min-height: 100%;
}
body {
  font-family: "Nunito Sans", sans-serif;
}

.container {
  background-color: var(--backgroundColor);
  min-height: 100vh;
  color: var(--textColor);
  .display__countries {
    padding: 2.5rem 4rem;
    @media screen and (max-width: 800px) {
      padding: 2.5rem 2rem;
    }
  }
}
@media (min-width: 2000px) {
  html {
    font-size: 30px;
  }
}

@media (min-width: 1400px) and (max-width: 1999px) {
  html {
    font-size: 18px;
  }
}

@media screen and (max-width: 400px) {
  html {
    font-size: 14px;
  }
}
