@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");
@import "./styles/variables.scss";
* {
  margin: 0;
  padding: 0;
}
html,
body {
  min-height: 100%;
}
body {
  font-family: "Nunito Sans", sans-serif;
}

.container {
  background-color: var(--backgroundColor);
  min-height: 100vh;
  color: var(--textColor);
  .display__countries {
    padding: 2.5rem 4rem;
  }
}
@media screen and (max-width: 400px) {
  html {
    font-size: 13px;
  }
}
